body {
  margin: 1cm;
}
button {
  margin: 10px;
}
#python {
  display: none;
}
#cs {
  display: none;
}
#brainfuck {
  display: none;
}
#name, #age, #ocupation, #experiense, #finance {
  background-color: rgb(255, 255, 226);
}