body {
  margin: 1cm;
  background: url(file://decktop/suggester/img/pic.jpeg);
}
.occupation {
  background-color: rgb(255, 255, 226);
}
button {
  margin: 10px;
}
#divResult {
  display: none;
}
#name, #age, #ocupation, #experience, #finance {
  background-color: rgb(255, 255, 226);
}

form .error {
  color: #ff0000;
}
#spanResName, #spanResLang {
  color:blue;
}