body {
  margin: 1cm;
}
button {
  margin: 10px;
}
#divResult {
  display: none;
}
#name, #age, #ocupation, #experience, #finance {
  background-color: rgb(255, 255, 226);
}

form .error {
  color: #ff0000;
}